<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" [id]="id">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalLabel">
                    {{ quotationDate | brazilianDate }} Quotation
                </h4>
            </div>
            <div class="modal-body text-center">
                <div>
                    <h2>
                        {{ conversion.value }}
                        {{ conversion.sourceCurrency }}
                         = 
                        {{ convertedValue }}
                        {{ conversion.targetCurrency }}
                    </h2>
                    <p>
                        1 {{ conversion.targetCurrency }} = 
                        {{ targetQuotation }} {{ conversion.sourceCurrency }} / 
                        1 {{ conversion.sourceCurrency }} =  {{ sourceQuotation }} {{ conversion.targetCurrency }}
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="newQuery()">
                    New query
                </button>
            </div>
        </div>
    </div>
</div>